<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>TripServer1_1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 登录 -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!-- Socket 监听初始化 load-on-startup 设置启动时加载-->
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>messageServer.InitMsgServer</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	
	<!-- 注册 -->
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>controller.Register</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<!--添加朋友 -->
	<servlet>
		<servlet-name>addFriendServlet</servlet-name>
		<servlet-class>controller.AddFriend</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addFriendServlet</servlet-name>
		<url-pattern>/addFriend</url-pattern>
	</servlet-mapping>

	<!-- 验证用户身份 -->
	<servlet>
		<servlet-name>IdentifyUserServlet</servlet-name>
		<servlet-class>controller.IdentifyUser</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IdentifyUserServlet</servlet-name>
		<url-pattern>/identify</url-pattern>
	</servlet-mapping>



</web-app>